<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Агентство упоротых новостей</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/news">Новости</a></li>
                <li class="nav-item"><a class="nav-link" href="/articles">Статьи</a></li>
                <li class="navbar-expand-md" width="100%"/>
                <li class="nav-item">
                    {% if user.username %}
                    <a class="nav-link" href="{% url 'profile' %}">Профиль ({{ user.username }})</a>
                    {% else %}
                    <a class="nav-link" href="/accounts/login">Войти</a>
                    <a class="nav-link" href="/accounts/reg">Регистрация</a>
                    {% endif %}
                </li>
                {% if user.username %}
                <li class="nav-item"><a class="nav-link" href="/accounts/logout">Выйти</a></li>
                {% endif %}
                {% if user.username == "sw" %}
                <li class="nav-item"><a class="nav-link" href="/admin">Панель управления</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>